<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <test thread-count="2" name="TestChrome">
   <parameter name="browser" value="chrome"/>
    <classes>
     <class name="tests.AccountTests"/>
	 <class name="tests.ButiqSparimTests"/> 
    <class name="tests.E2ETests"/>
     <class name="tests.FormsTests"/>
     <class name="tests.LinksTests"/>
  <!--<class name="tests.PriceTableTests"/>
     <class name="tests.UXTestsMainPage"/> -->
    </classes>
  </test> 

 <test thread-count="2" name="TestEdge">
   <parameter name="browser" value="Edge"/>
    <classes>
     <class name="tests.AccountTests"/>
	 <class name="tests.ButiqSparimTests"/>
   <class name="tests.E2ETests"/> 
     <class name="tests.FormsTests"/>
     <class name="tests.LinksTests"/>
 <!--<class name="tests.PriceTableTests"/>
     <class name="tests.UXTestsMainPage"/>-->
    </classes>
  </test>
</suite> 

